
@{
    ViewData["Title"] = "GetSessionValues";
}

<h1>GetSessionValues</h1>

<h3>
    @ViewBag.message <br />
    @ViewBag.count<br />

    @ViewBag.date <br />

    @ViewBag.emp.EmpId <br />
    @ViewBag.emp.EmpName <br />
    @ViewBag.emp.Salary <br />
</h3>